footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #1c1c1c;
  color: #cecece;
}

.footerItems {
  display: flex;
  flex-direction: row;
  gap: 80px;
  width: 80%;
  font-size: 18px;
}

.footerBoxOne,
.footerBoxTwo,
.footerBoxThree {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.footerSiteName,
.footerContact,
.footerSubscribe {
  color: #e0651f;
  font-family: Lobster;
  font-size: 35px;
}

.siteDetails,
.contactDetails {
  display: flex;
  justify-content: center;
}

.footerBoxFour {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  font-size: 1em;
}

.email {
  height: 5vh;
  background-color: #525252;
  border: transparent;
}

::placeholder {
  color: white;
}

.subscribeBtn {
  height: 5vh;
  border-radius: 0%;
  background-color: #e0651f;
  padding: 0px 0px;
  color: white;
}
