.aboutPageHeading {
  position: absolute;
  top: 16vh;
  left: 0px;
  right: 0px;
  margin: auto;
  color: white;
  font-family: Lobster;
  font-size: 6em;
  text-align: center;
}

.aboutSectionWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
}

.aboutSectionOne {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 75vw;
}

.aboutFoodImages {
  width: 100%;
  max-width: 600px;
  min-height: 509px;
  height: 72%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.imgOne {
  object-fit: cover;
  height: 508px;
  width: 100%;
  max-width: 268px;
  flex-basis: 100%;
}

.imgTwo,
.imgThree {
  object-fit: cover;
  width: 268px;
  height: 239px;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
  width: 40%;
  height: 80%;
}

.aboutUsTitle {
  font-family: Lobster;
  font-size: 3em;
}

.aboutUsHr {
  width: 10vw;
  border-top: 2px #e1651f solid;
}

.aboutUsParagraph {
  font-size: 1.2em;
}

.aboutUsBtn {
  height: 50px;
  width: 120px;
  background-color: #e0651f;
  color: white;
  border-radius: 25px;
}

.aboutSectionTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 75vw;
}

.whyUsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  width: 50vw;
}

.whyUsTitle {
  font-family: Lobster;
  font-size: 3em;
}

.whyUsParagraph {
  font-size: 1.2em;
  text-align: center;
  white-space: pre;
}

.whyUsHr {
  margin-top: 5vh;
  width: 10vw;
  border-top: 2px #e1651f solid;
}

.serviceItems {
  max-width: 76vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  row-gap: 3vw;
  column-gap: 18vh;
  margin-top: 5vh;
  margin-bottom: 18vh;
}

.serviceCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  width: 277px;
}

.serviceImg {
  height: 74px;
  width: 74px;
}

.serviceTitle {
  font-family: Lobster;
  font-size: 1.5em;
  text-align: center;
}

.serviceParagraph {
  font-size: 1em;
  text-align: center;
}
