.menuPageHeading {
  position: absolute;
  top: 16vh;
  left: 0px;
  right: 0px;
  margin: auto;
  color: white;
  font-family: Lobster;
  font-size: 6em;
  text-align: center;
}

.menuSection {
  background: #f5f5f5;
}

.menuSectionHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  text-align: center;
}

.menuSectionTitle {
  font-family: Lobster;
  font-size: 3em;
}

.menuSectionParagraph {
  font-size: 1.2em;
}

hr {
  width: 10vw;
  border-top: 2px #e1651f solid;
}
